.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}

.App-link {
    color: darkgrey;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
}

.App-link:hover {
    color: white;
}
.App-link.active {
    color: white;
    padding: 0;
}

.ant-spin-dot-item {
    background-color: white !important;
}

.ant-popover-inner {
    padding: 0;
    background-color: transparent !important;
}

.ant-menu .ant-menu-item {
    color: darkgray;
}

.ant-menu .ant-menu-item.ant-menu-item-only-child:hover .ant-menu-title-content {
    color: white;
}

.ant-menu .ant-menu-item-selected {
    color: #fff;
    background-color: #282c34;
    border: white 1px solid;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #444;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #444;
}