.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vmin;
  color: white;
  width: 100%;
}

.App-link {
  color: white;
  text-decoration: none;
}

.ant-spin-dot-item {
  background-color: white !important;
}

.ant-popover-inner {
  padding: 0;
  background-color: transparent !important;
}

.ant-menu-item-selected{
  color: black !important;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #444;
}